/* Estilo dos cards */
.prato-card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: calc(50% - 1.2rem); /* 2 cards por linha com espaçamento */
  max-width: 400px;
  padding: 1rem;
  text-align: left;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  position: relative;
  margin: 0.5rem; /* Espaçamento entre os cards */
}

.prato-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.prato-card img {
  max-width: 100%;
  border-radius: 8px;
}

.prato-card h3 {
  margin: 8px 0;
}

.prato-card p {
  color: #555;
}

/* Responsividade */
@media (max-width: 768px) {
  .prato-card {
    width: 100%; /* 1 card por linha em telas menores */
  }
}

.menu-container {
  position: absolute;
  top: 10px;
  right: 10px; /* Move o menu para o canto superior direito */
}

.menu-button {
  background-color: #f9f9f9; /* Fundo claro para destacar */
  border: 1px solid #ccc; /* Borda para dar contraste */
  border-radius: 6px; /* Cantos levemente arredondados */
  font-size: 20px;
  cursor: pointer;
  padding: 8px 12px; /* Espaçamento interno para criar um formato retangular */
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.menu-button:hover {
  background-color: #e0e0e0; /* Fundo mais escuro ao passar o mouse */
  border-color: #007bff; /* Destaque na borda ao passar o mouse */
}

.dropdown-menu {
  position: absolute;
  top: 30px;
  right: 0; /* Alinha o menu ao lado direito */
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  width: 150px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}

.menu-container:hover .dropdown-menu,
.menu-container:focus-within .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown-menu ul {
  list-style: none; /* Remove os pontos antes de cada item */
  margin: 0;
  padding: 0;
}

.dropdown-item {
  display: block;
  padding: 12px 15px;
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: bold; /* Fonte mais destacada */
  cursor: pointer;
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: #f0f0f0;
  color: #007bff;
}
