/* Background na página de detalhes */
.detalhes-prato {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("../assets/terra_das_aguas.jpg");
  background-size: cover;
  background-position: center;
  padding: 20px;
}

/* Estilo do card de detalhes */
.detalhes-prato-card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  padding: 20px;
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.detalhes-prato-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.detalhes-prato-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.detalhes-prato-card-header-text {
  flex: 1;
  text-align: left;
}

.detalhes-prato-card img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 16px;
  max-height: 40vh;
}

.detalhes-prato-card h1 {
  font-size: 1.8rem;
  margin-bottom: 16px;
  color: #333;
}

.detalhes-prato-card p {
  color: #555;
  margin-bottom: 12px;
  text-wrap: wrap;
}

.detalhes-prato-card button {
  margin-top: 16px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.detalhes-prato-card button:hover {
  background-color: #0056b3;
}
